<div class="row">
  <div class="col-12">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>#</th>
          <th>firstName</th>
          <th>lastName</th>
          <th>email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of list$ | async">
          <td>{{user.id}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>
            <button>
              <i class="fa fa-pencil"></i>
            </button>
          </td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
